*{
    margin: 0;
    padding: auto 0;
}
    /* fonts */
    .open-sans-normal {
        font-family: "Open Sans", serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-variation-settings:
          "wdth" <width>;
      }


    /* CommonColor */
    .orange{
        color: #FD6E0A;
    }
    .dark-1{
        color: #181818;
    }
    .dark-2{
        color: #474747;
    }
    .dark-3{
        color: #757575;
    }



    /* common style */
    .section-title{
        font-size: 35px;
        font-weight: bold;
        color: #181818;
    }
    .section-description{
        font-size: 18px;
        font-weight: normal;
        padding-bottom: 30px;
        color: #757575;
    }
    



    /* Extra */
    .margin10px{
        margin: 10px;
    }

    .text-align{
        text-align: center;
    }





/* Navigation Bar Start */
header{
    margin-top: 2vh;
    background-image: url(images/header_bg.png), url(images/developer.png);
    background-position: right bottom, top left;
    background-repeat: no-repeat;
}
nav{
    margin-left: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
nav h3{
    font-weight: 800;
    font-size: 45px;
}

nav ul{
    display: flex;
    align-items: center;
    list-style: none;
}
nav li{
    margin-right: 51px;
}

nav li a{
    text-decoration: none;
    font-size: 20px;
}
.btn-universal{
    background-color: #FD6E0A;
    color: white;
    padding: 18px 36px;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 5px;
}
/* Navigation Bar End */



/* Banner Section Start */
.banner{
    margin-top: 10vh;
    margin-left: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.banner-content{
    margin-left: 10vh;
}
.banner-greetings{
    font-size: 45px;
    font-weight: 600;
    padding-bottom: 5px;
}

.banner-title{
    font-size: 85px;
    font-weight: bold;
    padding-bottom: 20px;
}
/* Banner Section End */



/* About Section Start */
.about-description{
    padding: 30px 0;
}

.item-title{
    text-align: center;
    font-size: 20px;
    font-weight: normal;
}

.item-description{
    font-size: 20px;
    font-weight: 800;
}

.about-item{
    display: flex;
    justify-content: space-around;
    align-items: center;   
}

.about-inner-section{
    background-color: white;
    border: 1px solid black;
    width: 100vh;
    max-width: 100vh;
    padding: 20px;
}

.about-outer-section{
    height: 70vh;
    width: 150vh;
    background-color: #FFF8F3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-outer-outer{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Skill Section Start */






/* Skill Section Start */
.skill-section{
    margin: 0 auto;
    height: 100vh;
    max-width: 150vh;
}
.skill-section h1{
    text-align: center;
    padding-top: 25vh;
}
.skill-section p{
    text-align: center;
}
.skill-section p{
    margin: 30px 0;
}

.skill-item-container{
    display: flex;
}
.skill-item p{
    text-align: left;
}
.skill-item{
    box-shadow: 5px 6px 20px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 10px;
}